.SG-datepicker {
  user-select: none;
  position: relative;
  margin: 0.5em 0 1em;
}
.SG-datepicker__calendar-container {
  position: absolute;
  border: 1px solid #cbcbcb;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
  width: 300px;
  box-sizing: border-box;
  min-width: 300px;
}
.SG-datepicker__today {
  cursor: pointer;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 10px;
  display: block;
}
.SG-datepicker__today:hover {
  color: #3374b8;
}
.SG-datepicker__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.SG-datepicker__navigation-prev {
  cursor: pointer;
}
.SG-datepicker__navigation-next {
  cursor: pointer;
}
.SG-datepicker__input-container .calendar-icon {
  cursor: pointer;
  fill: #3374b8;
  position: absolute;
  top: 50%;
  right: 10px;
  height: 1.3em;
  transform: translateY(-50%);
}
.SG-datepicker__body {
  border-collapse: collapse;
  width: 100%;
}
.SG-datepicker__header th {
  width: auto;
  border-bottom: 1px solid #2e2e2e;
  color: #999;
  font-size: 0.9em;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  height: 2em;
  cursor: default;
}
.SG-datepicker__day {
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  color: #666;
  font-size: 0.875em;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  border-collapse: collapse;
  cursor: pointer;
  height: 2.5em;
  transition: background-color 0.05s ease;
  border-radius: 50%;
}
.SG-datepicker__day.off-month {
  opacity: 0.5;
}
.SG-datepicker__day.today {
  color: blue;
}
.SG-datepicker__day:hover {
  background-color: #3374b8;
  color: white;
}
.SG-datepicker__day.current {
  border: 1px solid #003aa6;
}
.SG-datepicker__day.selected {
  background-color: #003aa6;
  color: white;
}
.SG-datepicker__month-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 2.5em);
  margin-top: 45px;
  grid-gap: 10px;
}
.SG-datepicker__year-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 2.5em);
  grid-gap: 5px;
}
.SG-datepicker__year,
.SG-datepicker__month {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 0.875em;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: #666;
}
.SG-datepicker__year:hover,
.SG-datepicker__month:hover {
  background-color: #3374b8;
  color: white;
}
.SG-datepicker__year.selected,
.SG-datepicker__month.selected {
  background-color: #003aa6;
  color: white;
}

.nav {
  @apply flex justify-between items-center mb-2;
}

.nav-btn {
  @apply w-[48px] h-[48px] flex justify-center items-center disabled:opacity-[.5];
}

.nav-year-btn {
  @apply -mt-1;
}

.confirm-btn {
  @apply text-[14px] leading-[24px] font-semibold px-[17px] py-2;
}
